@import '../../styles/global';

.form {
  @include flexCenter;

  &.vertical {
    flex-direction: column;
  }

  .inputWrapper {
    position: relative;
  }
}

.profileForm {
  * {
    width: 100%;
  }
  .profileInput {
    @include flexBetween;
    @include innerBorder;

    flex-direction: row-reverse;
    align-items: baseline;
    padding: 10px 0px;

    &:nth-last-child(2) {
      border: none;
    }
  }

  button {
    width: 50%;
    margin-top: 60px;
  }
}
