@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Sora:wght@400;600&display=swap');
@import './global';

:root {
  --danger: #f65d53;
  --primary200: #9baacf;
  --primary300: #5d81d4;
  --primary400: #5f8efa;
  --primary: #4d82ff;
  --primary700: #3a4151;
  --primary800: #2c303b;
  --primary900: #282c35;
  --clr-font: #dbdcde;
  --white: #fff;
  --darkShadow: rgb(0 0 0 / 45.9%);
}

body {
  margin: 0;
  background: var(--primary900);
  color: var(--clr-font);
  font-family: Sora, sans-serif;
}

html,
body,
#root,
main {
  height: 100%;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}
