.wrapper {
  position: relative;
  padding: 10px 0px;
}

.input {
  font-family: 'Sora', sans-serif;
  color: var(--clr-font);
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--primary300);
  &::placeholder {
    color: var(--primary200);
  }
}

.inputError {
  border-bottom-color: var(--danger);
}

.error {
  position: absolute;
  left: 0;
  color: var(--danger);
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 10px;
}
