.contentBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--primary900);
  padding: 40px 30px;
  border-radius: 12px;
  width: 320px;

  .title {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 44px;
  }

  .content {
    display: flex;
    width: 100%;
    margin-bottom: 17px;

    * {
      width: 100%;
    }
  }
}

.authForm {
  background: var(--primary800);
  border: 2px solid var(--primary700);
  padding: 30px 50px;
}
